{
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "rules": {
      "no-console": "off",
      "sort-imports": "off",
      "quotes": [
        "error",
        "double",
        {
          "avoidEscape": true
        }
      ]
    },
    "parserOptions": {
      "sourceType": "module"
    }
  }